@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700|Poppins:500,900');
@import "../node_modules/bootstrap/scss/bootstrap";
//INIZIO CODICE PERSONALIZZATO COABITARE
html{
    //RENDO 1REM = 10px PER FACILITARE I CALCOLI
  font-size: 62.5%;
  line-height: 1.5;
  @media (min-width: 576px){
    font-size: 62.5%;
  }
  @media (min-width: 768px){
    font-size: 78%;
  }
  @media (min-width: 992px){
    font-size: 62.5%;

  }
  @media (min-width: 1200px){
    font-size: 82%;
    //1rem = 13 px
  }
}
//Definisco le dimensioni dei container per ogni viewport
.container{
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  @media (min-width: 576px) {
      max-width: 540px; }
  @media (min-width: 768px) {
      max-width: 720px; }
  @media (min-width: 992px) {
      max-width: 960px; }
  @media (min-width: 1200px) {
      min-width: 1297px; }
}
//definisco spacing universafli
.m-top-s{
  margin-top: 2.5rem !important;
}
.m-bottom-s{
  margin-bottom: 2.5rem !important;
}
.m-tb-s{
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.p-top-s{
  padding-top: 2.5rem !important;
}
.p-bottom-s{
  padding-bottom: 2.5rem !important;
}
.p-tb-s{
  padding-bottom: 1.25rem !important;
  padding-top: 1.25rem !important;
}

.m-top-l{
  margin-top: 5rem !important;
}
.m-bottom-l{
  margin-bottom: 5rem !important;
}
.m-tb-l{
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.p-top-l{
  padding-top: 5rem !important;
}
.p-bottom-l{
  padding-bottom: 5rem !important;
}
.p-tb-l{
  padding-bottom: 2.5rem !important;
  padding-top: 2.5rem !important;
}

//Definisco variabili scss
$arancione:#ff975a;
$rosso: #a91124;
$corallo: #ff776b;
$blu: #373f51;
$grigio: #e0dee3;
$radius: 15px;
//Stili menu e toggler
.navbar a{
  color: $rosso;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
}
.navbar li{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.navbar a:hover{
  color: $arancione;
}
.navbar-nav{
  text-align: center;
}
.navbar img{
  max-width: 4rem;
  max-height: 4rem;
}
.navbar-toggler-icon{
  width: 2.5em;
  height: 2.5em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(169,17,36)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.dropdown-item:active{
  background-color: $grigio;
}
.p-corrente{
  color: $corallo !important;
}
//stili header
#header{
    background-color: $grigio;
    height: auto;
    overflow: auto;
    padding-bottom: 2.5rem;
}
.header-cont{
  text-align: center;
}
.header-cont p{
  margin-bottom: 0rem;
}
#header img{
  min-height: 28.4rem;
  max-height: 32.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

}
// Stili testi
a h1, a h2, a h3{
  color: $arancione;
}
a h1:hover, a h2:hover, a h3:hover{
  color: $rosso;
}
h1{
  color: $rosso;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
  margin-bottom: 0rem;
}
h2{
  color: $corallo;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
}
h3{
  color: $corallo;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
p, blockquote{
  color: $blu;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2rem;


}
a{
  color: $arancione;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  font-size: 1.5rem;
}
a:hover{
  color: $rosso;
  text-decoration: none;

}
// stili bottoni
.btn-primary{
  background-color: $arancione;
  border-radius: $radius;
  width: 15rem;
  height: 3.5rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  box-shadow: 0 6px 0px -2px darken($arancione, 20%);
  border: 0;
}
.btn-primary:focus{
  border:none;
  box-shadow: 0 6px 0px -2px darken($arancione, 20%);
}

.btn-primary:hover{
  background-color: lighten($arancione, 5%);
  box-shadow: 0 6px 0px -2px darken($arancione, 10%);
}
.btn-primary:active{
  background-color: $corallo;
  box-shadow: 0 6px 0px -2px darken($corallo, 10%);
  border: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $corallo;
  box-shadow: 0 6px 0px -2px darken($corallo, 10%);
  border-color: none; }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 6px 0px -2px darken($corallo, 10%);}


  .btn-secondary{
    background-color: white;
    border-radius: $radius;
    border: 3px solid $rosso;
    height: 3.5rem;
    min-width: 17rem;
    color: $rosso;
    font-family: 'Fira sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn-secondary:focus{
    border: 3px solid $rosso;
    box-shadow: none;
  }

  .btn-secondary:hover{
    border: 3px solid $arancione;
    color: $arancione;
    background-color: white;
  }
  .btn-secondary:active{
    border: 3px solid $blu;
    color: $blu;
    background-color: white;
  }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    border: none;
    color: white;
    background-color: $orange;
    box-shadow: none; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-secondary.dropdown-toggle:focus {
      border: none;
      color: white;
      background-color: $orange;
      box-shadow: none;
    }
// stili le nostre storie
.storia, .partecipa{
  margin-top: 2.5rem;

}
.storia:last-child::after{
  border: none;
}
.storia img{
  object-fit: cover;
  border-radius: $radius;
  width: 100%;
  height: 21.5rem;
}
.citazione{
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  margin-top: 3rem;
}
//Aggiunge il simbolo di quote prima del blocco di testo e lo posiziona
.citazione:before {
  content: '\201C';
  font-family: 'Georgia';
  color: $rosso;
  display: inline-block;
  vertical-align: top;
  height: 3rem;
  margin-top: -3rem;
  margin-right: 10px;
  font-size: 6rem;
}

//Stili i nostri valori
.sezionegrigia{
  background-color: $grigio;

}
.valori img{
  object-fit: cover;
  border-radius: $radius;
  height: 10rem;
  width:10rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  @media (min-width: 992px) {
    height: 11.3rem;
    width: 100%;
    margin-right: 0;
    flex-shrink: 0;
  }
}
// stili come partecipare
.partecipa{
  position: relative;

}
.partecipa img{
  object-fit: cover;
  border-radius: $radius;
  width: 100%;
  max-height: 16rem;
  margin-bottom: 1.5rem;
}

.partecipa::after, .storia::after {
  content: '';
  border-bottom: 0.5rem solid $grigio;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:2rem;
  @media (min-width: 992px) {
    display: none;
  }
}
.partecipa:last-child::after{
  display: none;
}

#comepartecipare p{
  margin-bottom: 1.5rem;
}
// stili newsletter

#newsletter form{
  width: 100%;
  height: 100%;
}
// input[type="text"], input[type="mail"], input[type="textarea"]{
//   height: 3.5rem;
//   border-radius: $radius;
//   @media (min-width: 992px) {
//     border-radius: 15px 0 0 15px;
//   }
// }
// #inputnome{
//   height: 3.5rem;
//   border-radius: $radius;
//   @media (min-width: 992px) {
//     border-radius: 15px 0 0 15px;
//   }
// }
// #inputmail{
//   height: 3.5rem;
//   border-radius: $radius;
//   @media (min-width: 992px) {
//         border-radius: 0 15px 15px 0;
//   }
// }
#newsletter .form-group{
  margin-bottom: 1.5rem;
  @media (min-width: 992px) {
      margin-bottom: -2px;
  }
  //correzione allineamento ad-hoc per il box-shadow del bottone
}
#inputconsenso-nl{
  margin-left: 1.5rem;
}
.obbligatorio h3::after, .obbligatorio p::after {
  content: '*';
  margin-left: 0.5rem;
  color: $rosso;
}
label[for="inputconsenso-nl"], label[for="inputconsenso-msg"] {
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 0.5rem;
}
label[for="inputconsenso-nl"]{
  margin-top: -3px;
  margin-left: 3.5rem;
}
input[type=text], input[type=email], input[type=textarea], input[type="tel"]{
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  height: 3.5rem;
  border-radius: $radius;
}
input[type=textarea]{
  height:10rem;
}
input[type=textarea]::placeholder{
  line-height: 2rem;
}
input::placeholder{
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  opacity: 0.5 !important;
}
#footer{
  background: $blu;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#footer h3{
  margin-bottom: 1.5rem;
}
#footer p{
    color: white;
    margin-bottom: 0px;
}
#privacy{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
//PAGINA UNISCITI A NOI
.header-interno{
  // @media (min-width: 992px) {
    background-color: $grigio;
  // }
}
.header-interno img{
  max-height: 21.5rem;
}

.blocco-testo{
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.elenco {
  color: $blu;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2rem;
}

.blockquote-rosso{
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;

}
.blockquote-rosso > p{
  color: $rosso;
  font-style: italic;
  letter-spacing: 4px;
  font-size: 2.2rem;
}
.riga-lista{
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
}
.lista, .lista span, .lista a{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.lista, .lista span{
    color: $rosso;
}
.cerchio{
  position: relative;
  height: 4.8rem;
  width: 4.8rem;
  border: solid 1px $rosso;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 1.5rem;
  flex-shrink: 0;
  z-index: 999;
}
.cerchio::after{
  content: " ";
  height:1rem;
  border-left: 1px dashed $red;
  position: absolute;
  bottom: -1rem;
  @media (min-width: 992px){
    height:2rem;
    bottom:-2rem;
  }
}
.riga-lista:last-child .cerchio::after{
  border: none;
}
.side-img{
  max-width:22.5rem;
}
//vieni ai nostri incontri
.evento-principale{
  border-radius: $radius;
  background-color: $grigio;
  height: 31rem;
}
.evento-principale img{
  width:100%;
  object-fit: contain;
  border-radius: $radius $radius 0 0;

}
.evento-principale .tag{
  border: 1px solid $blu;
}
#contenuto-principale .corpo-cal{
    background-color: white !important;
}
#contenuto-principale{
  height: 50%;
  border-radius: $radius;
}
.tag {
  display: inline-block;
  height: 3rem;
  padding: 0.7rem;
  margin-right: 5px;
  background: $grigio;
  border-radius: $radius;
  border: 1px solid $blu;
  line-height: normal;

  a, a:hover {
    color: $arancione;
  }
}
#accordion-mobile{
  background-color: lighten($grigio, 60%);
  border: 1px solid $blu;
  border-radius: $radius;
  padding: 5px;
}
.tag:hover{
  background-color: $blu;
}
.active{
  background-color: lighten($blu, 10%);;
}

.tag-filter .tag{
  margin: 0.5rem;
  display: inline-block;
}
.header-cal{
  background: $rosso;
  color: white;
  border-radius: $radius $radius 0 0;
  height: 2.8rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.corpo-cal{
  border-radius: 0 0 $radius $radius;
  color: $blu;
  flex-shrink: 0;
}
.corpo-cal span:first-child{
  font-size: 3.4rem;
  margin-top: -0.5rem;
  margin-bottom: -0.8rem;
}
.cal,{
  height: 8.2rem;
  width: 6.5rem;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  border-radius: $radius;
  border: 1px solid $blu;
}
.cal-mobile{
  width:100%;
}
.cal-mobile .cal{
  height: 6.8rem;
}
.ora{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  color: $rosso;
}
.cal-mobile .ora{
  font-size: 1.6rem;
}
.side-evento .cal{
  height: 18rem;
  width: 17rem;
}
.side-evento .header-cal{
  height:6rem;
  font-size: 4.3rem;
}
.side-evento .corpo-cal span:first-child{
  font-size: 5.8rem;
  margin-top: 0;
}
.side-evento .corpo-cal{
  font-size: 2.5rem;
}
.side-evento .ora{
  font-size: 3.6rem;
}
.filter-panel .btn:first-child{
  margin-bottom: 1rem;
}
.invisibile{
  display: none;
}
.card{
  border: none;
}
.obiettivi img{
  height: 10rem;
  width:10rem;
  margin-bottom: 1.5rem;
}
.breadcrumb{
  background-color: white;
  border-radius: $radius;
  border: 1px solid $blu;
  font-size: 1.2rem;
  font-weight: bold;
  color: $blu;
}
.breadcrumb-item a{
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
}
//calendario
.calendar {
  width: 24.8rem;
  @media (min-width: 992px){
    width: 30.2rem;
    padding: 5px;
  }
  .fondo{
    float: right;
  }
  // box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid $grigio;
  border-radius: $radius;
  overflow: hidden;
  color: $blu;

  &--nav {
    margin: -10px -15px 5px;
    background-color: $rosso;
    color: #fff;
    height: 5rem;
    position: relative;

    a {
      position: absolute;
      cursor: pointer;
      left: 10px;
      font-size: 32px;
      line-height: 1;
      top: 16px;
      width: 30px;
      text-align: center;
      display: inline-block;
      color: transparentize(#fff, 0.6);
      user-select: none;

      &:hover {
        color: #fff;
      }

      &:last-child {
        left: auto;
        right: 10px;
      }
    }

    h1 {
      color: white;
      margin: 0;
      position: absolute;
      left: 40px;
      right: 40px;
      text-align: center;
      cursor: pointer;
      font-weight: 400;
      font-size: 30px;
      line-height: 66px;
      user-select: none;
    }

    small {
      font-weight: 300;
      font-size: 60%;
    }
  }

  &--days {
    font-size: 0;

    span {
      width: 14.28571%;
      display: inline-block;
      text-align: center;
      user-select: none;
      cursor: pointer;
      margin: 1px 0;
      line-height: 34px;
      position: relative;
      font-size: 16px;

      &.label {
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
        cursor: initial;
      }

      &.active {
        font-weight: 700;
        color: $rosso;
        background-color: transparentize($rosso, 0.95);
        border-radius: $radius;
      }

      &.muted {
        color: rgba(0, 0, 0, 0.3);
      }

      &.between {
        border-radius: 0;
      }

      &.start, &.between, &.end {
        background-color: $corallo;
        color: #fff;
      }

      &.start {
        border-radius: $radius 0 0 $radius;
      }

      &.end {
        border-radius: 0 $radius $radius 0;
      }

      &.start.end {
        border-radius: $radius;
      }

      &.between:nth-child(7n):after, &.start:nth-child(7n):after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        background-color: $corallo;
        width: 20px;
      }

      &.between:nth-child(7n + 1):after, &.end:nth-child(7n + 1):after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        background-color: $corallo;
        width: 20px;
      }

      &.start.end:after {
        display: none;
      }
    }
  }
}
//se computer è desktop il dropdown compare senza clik
@media (min-width: 992px){
   .dropdown:hover .dropdown-menu{
    display: inline-block;
  }

}
