@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700|Poppins:500,900');
@import "../node_modules/bootstrap/scss/bootstrap";
/*INIZIO CODICE PERSONALIZZATO COABITARE*/
html{
  font-size: 62.5%;
  //RENDO 1REM = 10px PER FACILITARE I CALCOLI
  line-height: 1.5;
}
//Definizione variabili scss
$arancione:#ff975a;
$rosso: #a91124;
$corallo: #ff776b;
$blu: #373f51;
$grigio: #e0dee3;

//Stili menu desktop
.navbar a{
  color: $rosso;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
}
.navbar li{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.navbar a:hover{
  color: $arancione;
}
.navbar-nav{
  text-align: center;
}
.navbar img{
  max-width: 8rem;
  max-height: 8rem;
}
//stili header
.header{
  background: url("../immagini/homepage/header.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  min-height: 50rem;
  text-align: center;
}
.header-cont{
  padding-left: 15%;
  padding-right: 15%;
  height:50rem;
}
#header{
  background-color: $grigio;
  margin-bottom: 12rem;
}
// Stili testi
h1{
  color: $rosso;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 4rem;
}
h2{
  color: $corallo;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
p, blockquote{
  color: $blu;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.8rem;


}
a{
  color: $arancione;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  font-size: 2rem;
}
a:hover{
  color: $rosso;
  text-decoration: none;

}
// stili bottoni
.btn-primary{
  background-color: $arancione;
  border-radius: 15px;
  width: 20rem;
  height: 5rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: 0 6px 0px -2px darken($arancione, 20%);
  border: 0;
}
.btn-primary:focus{
  border:none;
  box-shadow: 0 6px 0px -2px darken($arancione, 20%);
}

.btn-primary:hover{
  background-color: lighten($arancione, 5%);
  box-shadow: 0 6px 0px -2px darken($arancione, 10%);
}
.btn-primary:active{
  background-color: $corallo;
  box-shadow: 0 6px 0px -2px darken($corallo, 10%);
  border: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $corallo;
  box-shadow: 0 6px 0px -2px darken($corallo, 10%);
  border-color: none; }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 6px 0px -2px darken($corallo, 10%);}

// stili le nostre storie
#irene{
  background-image: url(../immagini/homepage/irene.jpg);
}
#eugenia{
  background-image: url(../immagini/homepage/eugenia.jpg);
}
#alessandra{
  background-image: url(../immagini/homepage/mattia.jpg);
}
.fotostoria{
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.storia{
  margin-top: 7rem;
}
.storia:last-child{
  margin-bottom: 12rem;
}
.citazione{
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  margin-top: 3rem;
}
.citazione:before {
  font-family: 'Georgia';
  color: $rosso;
  display: inline-block;
  vertical-align: top;
  height: 3rem;
  margin-top: -3rem;
  content: '\201C';
  margin-right: 10px;
  font-size: 6rem;
}
